/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", serif;

  transition: all ease 0.3s;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      display: none;
      padding: 20px 0;
  }

  nav a {
      margin: 10px 0;
  }

  .menu-toggle {
      display: block;
      cursor: pointer;
      font-size: 1.5rem;
      color: #fff;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
      display: none;
  }
}